table {
    border: 1px solid;
    color: aliceblue;
    background-color: grey;
    font-weight: bold;
}

td {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
}

.div-center {
    padding: 10vh;
    display: inline-block;
}

.display-area {
    background-color: cornflowerblue;
    font-size: xx-large;
    text-align: right;
    padding: 10px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}
