.calcButton {
    border: 1px solid;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 60px;
}

.number {
    width: 60px;
}

.doubleNumber {
    width: 130px;
}

.clear {
    width: 185px;
}
